@model Fruitcorp.Models.Pages.StandardPage

@*<div class="col-md-4">
    @Html.PropertyFor(x => x.Content)
</div>*@

<div class="col-md-8">
    <h1>@Html.PropertyFor(x => x.PageName)</h1>
    <p>@Html.PropertyFor(x => x.MainIntro)</p>
    @Html.PropertyFor(x => x.MainBody)
</div>







