@using Fruitcorp.Helpers
@model Fruitcorp.Models.Pages.BasePage

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@Model.MetaDescription" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@Model.Title</title>
    @Html.RenderEPiServerQuickNavigator()

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"><h3 class="text-muted">Fruit</h3></div>
        </div>
        <div id="row">
            <div class="col-md-12">
                @{ Html.RenderMainNavigation();}
            </div>
            
        </div>
           
        <div id="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
           
             
        </div>
           
        
       

    </div>
</body>
</html>
